.single-view-container {
  margin: 0;
  padding: 86px 0 0 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.single-view-container h1,
.single-view-container h2,
.single-view-container h3 {
  font-weight: 700;
}
.single-view-container p {
  font-weight: 300;
}
.single-view-container a {
  text-decoration: none;
  color: black;
}

#container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
#imgCon {
  width: 100%;
  height: 560px;
}
#imgCon img {
  width: 100vw;
  object-fit: cover;
  height: 100%;
}
#mainInfoCon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#mainInfoCon h3 {
  font-size: 16px;
  font-weight: 100;
  margin: 40px 0 20px;
}
#houseVac {
  justify-self: end;
}
#houseInfoCon h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  margin-top: 20px;
}
#houseInfoCon p {
  margin: 20px 0;
  font-size: 20px;
}
#purpleBox {
  margin-top: 80px;
  background-color: #452962;
  padding: 20px;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#purpleBox #streetInfoCon h3 {
  font-size: 20px;
}
#purpleBox #streetInfoCon h4 {
  font-size: 18;
  font-weight: 400;
  margin-top: 10px;
}

#purpleBox #bookingCon h2 {
  font-size: 34px;
  font-weight: 900;
  text-align: center;
}
#purpleBox #bookingCon h3 {
  margin-top: 20px;
  font-size: 34px;
  font-weight: 900;
  text-align: right;
}
#purpleBox #bookingCon span {
  font-size: 20px;
  font-weight: normal;
}
#purpleBox #bookingCon button {
  float: right;
  clear: both;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 20px;
  transition: 0.3s;
}
#purpleBox #bookingCon button:hover {
  background-color: #ddd;
}
#houseMapCon {
  margin: 100px 0 130px;
}

@media (max-width: 860px) {
  #purpleBox {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #bookingCon {
    text-align: center;
    margin-top: 20px;
  }

  #purpleBox #bookingCon button {
    float: none;
    margin-top: 20px;
  }

  #bookingCon h3 {
    text-align: center !important;
  }
}
